{{#> app}}
{{#*inline "content"}}
<div class="row">
    <div class="col-md-6 col-lg-4 mb-2">
        <img class="img-fluid rounded" src="/img/avatar.jpg" alt="Avatar">
    </div>
    <div class="col-md-6 col-lg-4 mb-2">
        <img class="img-fluid rounded" src="/img/avatar.jpg" alt="Avatar">
    </div>
    <div class="col-md-6 col-lg-4 mb-2">
        <img class="img-fluid rounded" src="/img/avatar.jpg" alt="Avatar">
    </div>
</div>
{{/inline}}
{{/app}}